# Backend 

JWT_SECRET = 'your_secret'

MONGO_USERNAME = 'user_name'

MONGO_PASSWORD = 'password'

MONGO_CLUSTER = 'cluster_name'

MONGO_DBNAME = 'db_name'
  
(in production only: PORT = 5001)


# Frontend

(in production only: PUBLIC_URL = 'public_url')


Note: put all those variables in .env on the root level.